<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="duplexendpoint" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54224/ClockService.svc" binding="wsDualHttpBinding"
                bindingConfiguration="duplexendpoint" contract="WCF.IClockService"
                name="duplexendpoint">
                <identity>
                    <userPrincipalName value="RAPHAEL-PC\rapha" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>